.masterCategory {
    *{
        font-weight: normal;
        text-align: center;
        padding: 10px;
    }
    th:first-child{
        border-radius:  @borderRadius 0 0 0;
    }
    th:last-child{
        border-radius: 0 @borderRadius 0 0;
    }
    &.masterCategoryHover{
        *{
            padding: 3px;
        }
        th:first-child{
            border-radius:  @borderRadius 0 0 0;
        }
        th:last-child{
            border-radius: 0 @borderRadius 0 0;
        }
    }
    &.collapsed{
        th:first-child{
            border-radius:  @borderRadius 0 0 @borderRadius;
        }
        th:last-child{
            border-radius: 0 @borderRadius @borderRadius 0;
        }
    }
}