btn:hover {
  cursor: pointer;
}

btn {
  white-space: nowarp;
  display: inline-block;
  margin: 5px;
  text-transform: capitalize;
  padding: 3px 15px 3px 15px ;
}

.navigationButton {
    background: @action;
    border-radius: @btnBorderRadius;
    text-align: center;
    color: @white;
    * {
      color: @white;
    }

    .illustration {
      margin-right: 15px; 
    }

    &.disabled {
      background: @darkerBackground;
      color: @dark;
      * {
        color: @dark;
      }
    }

    &:hover:not(.disabled){ 
      background-color:  @background;
      // replace border so that the 'border' is inside the button and doesn't change the total size
      box-shadow:inset 0px 0px 0px 3px @navigation;
      color: @navigation;
      * {
        color: @navigation;
      }
    }
}

.actionButton{
  background: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
  border: 1px solid @navigation;
  padding: 3px 15px 3px 15px ;
  border-radius: @btnBorderRadius;
  text-align: center;
}

.dualTab{
  btn{  
    border: 1px solid @action;
    color: @dark;

    &.tabLeft{
      border-radius: 15px 0px 0px 15px;
      margin-right: 0;
    }

    &.tabRight{
      border-radius: 0px 15px 15px 0px;
      margin-left: 0;
    }

    &.active{
      background: @active;
    }
  }
}

.crossContainer {
  text-align: right;
  .cross {
    font-size: 26px;
    font-weight: 600;
  }
  .cross:hover {
    cursor: pointer;
  }
}

.select{
  background: @action;
  color: white;
}