.menuButton {
  border: green;
}

btn:hover {
  cursor: pointer;
}

.navigationButton {
    background: @action;
    color: @white;
    padding: 3px 15px 3px 15px ;
    border-radius: @btnCornerRadius;
    text-align: center;

    &.disabled {
      background: @darkerBackground;
      color: @dark;
    }

    &:hover:not(.disabled){ 
      background-color:  @background;
      border: 3px solid @navigation;
      color: @navigation;
    }
}



.actionButton{
  background: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
  border: 1px solid @navigation;
  padding: 3px 15px 3px 15px ;
  border-radius: @btnCornerRadius;
  text-align: center;
}

.illustratedNavButton{
  background: @action;
  color: @white;
  padding: 3px 15px 3px 15px ;
  border-radius: @btnCornerRadius;
  text-align: center;

  &.disabled {
    background: @darkerBackground;
    color: @dark;
  }

  &:hover:not(.disabled){ 
    background-color:  @background;
    border: 3px solid @navigation;
    color: @navigation;
  }
}

.dualTab{
  btn{  
    background-color:  #00324931;
    color: @navigation;
    padding: 2px;
  }
  .tabLest{
    background-color:  #00324931;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid @action;
    color: @navigation;
  }
  .tabRight{
    background-color:  #00324931;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid @action;
    color: @navigation;
  }
  
  .active{
    .tabLest{
      background-color:  #ffffff;
      border-radius: 15px 0px 0px 15px;
      border: 1px solid @action;
      color: @navigation;
    }
    .tabRight{
      background-color:  #00324931;
      border-radius: 0px 15px 15px 0px;
      border: 1px solid @action;
      color: white;
    }
  }
  .inactive
  .tabLest{
    background-color:  #00324931;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid @action;
    color: rgb(255, 255, 255);
  }
  .tabRight{
    background-color:  #ffffff;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid @action;
    color: @navigation;
  }
}


#select{
  background: @action;
  color: white;
}