.positive {
  background-color: @validation;
  border-radius: 25px;
  padding : 2px 8px;
}

.negative {
  background-color: @alert;
  color: @white;
  border-radius: 25px;
  padding : 2px 8px;
}

.formContainer {
  padding: 20px;
  border-radius: @borderRadius;
  &.header {
    background: @header;
  }
  &.inline {
    background: @inline ;
  }
}