.positive {
  background-color: @validation;
  border-radius: 25px;
  padding : 2px 8px;
}

.negative {
  background-color: @alert;
  color: @white;
  border-radius: 25px;
  padding : 2px 8px;
  &.title {
      padding: 10px 12px;
  }
  .btn {
    color: @white;
  }
}

.container {
  margin: 10px auto;
  padding: 20px;
  border-radius: @borderRadius;
  background: @lighterBackground;
  &.header {
    background: @header;
    color: @white;
    *{
      color: @white;
    }
    input, select, .selectAutoComplete *, btn {
      color: @dark;
    }
  }
  &.inline {
    background: @inline;
    color: @white;
  }
  &.small {
    max-width: 500px;
  }
}

.MasterCcollapsed{
  display: flex;
  background: linear-gradient(to right, #003249, #007EA7);
  border-radius: 10px;
  padding: 5px;
  justify-content: space-around;;
  h3{
  color: @background;
}
}