.positive {
  background-color: @validation;
  border-radius: 25px;
  padding : 2px 8px;
}

.negative {
  background-color: @alert;
  color: @white;
  border-radius: 25px;
  padding : 2px 8px;
}

.formContainer {
  padding: 20px;
  border-radius: @borderRadius;
  &.header {
    background: @header;
  }
  &.inline {
    background: @inline ;
  }
}

.MasterCdefault{
  display: flex;
  background: linear-gradient(to right, #003249, #007EA7);
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  margin-right: 150px;
  justify-content: space-around;;
  h3{
    color: @background;
  }
}

.MasterCcollapsed{
  display: flex;
  background: linear-gradient(to right, #003249, #007EA7);
  border-radius: 10px;
  padding: 5px;
  justify-content: space-around;;
  h3{
  color: @background;
}
}

.CategoryBudgetDataDefault{
  display: flex;
  background-color: @grey;
  border-right: 3px solid #007EA7;
  border-left: 3px solid #007EA7;
  padding: 5px;
  margin-right: 150px;
  justify-content: space-around;;

}

.CategoryBudgetDataDebit{
display: flex;
background-color: @grey;
border: 3px solid #007EA7;
padding: 5px;
margin-right: 150px;
justify-content: space-around;;
border-radius: 0px 0px 10px 10px;
}

.BudgetHeader{
  display: flex;
  background: linear-gradient(to right, #003249, #007EA7);
  border-radius: 10px;
  padding: 5px;
  margin-right: 430px;
  h3{
  color: @background;
}
}