.darkTextInput {
  input, input:focus {
    background: @navigation;
    color: @white;
    border: solid, 1px, @white;
  }
  ::placeholder {
    color: @darkerBackground;
  } 
}

.form {
  input, select {
    margin-bottom: 10px;
  }
}

@import "../../../../node_modules/@vueform/multiselect/themes/default.css";