# EDITOR
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## FRONT
front/node_modules
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/.vite/

## BACKEND
back/.gradle
back/build/*
!back/build/libs/
back/db/
back/logs/
back/local.properties
back/logback.xml
back/gradle.properties

## DOC

doc/node_modules/
doc/.astro/
dov/dist


## DEPLOY 

deploy/gradle.properties
deploy/result
back/result


back/deploy/result
front/result
back/deploy/nix-packages/result



doc/node_modules/
