.accountPage {
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    border-radius: 28px;
    padding: 20px;
    margin-top: 80px;
    h1 {
        text-align: center;
        font-size: xx-large ;
        margin-bottom: 30px;
    }
    #operationForm {
        background: @headerColor;
        padding: 30px 0 20px 0;
        display: flex;
        flex-wrap: wrap;
        .btn{
            color: @background;
            font-size: large;
        }
        .dateTitle, .categoryTitle, .memoTitle, .amountTitle {
            color: white;
            font-size: large;
            font-weight: bold;
            text-align: middle;
        }
    }

    .storedOperation:nth-child(even) {
        background-color: @background;
        .btn{
            color: @headerColor;
        } 
    }
    .storedOperation:nth-child(odd) {
        background-color: @darkerBackground;
        .btn{
            color: @headerColor;
        } 
    }

    .operation {
        font-size: small;
        .btn {
            font-size: small;
            padding-left: 10px;
        }
        .date {
            text-align: center;
        }
    }

    @import url(../utils/switch.less);

}