#accountWidget {
    background: white;
    border-radius: 28px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    

    .title {
        font-weight: 550;
    }
    .subtitle {
        font-size: 18px;
    }
    .accountContainer {
        margin-top: 10px;
        .accounts {
            width: 100%;
            padding: 5px;
            margin: 5px 0;
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            .name, .amount {
                color: white;
            }
        }
        .accounts:hover {
            * {
                color: black;
            }
        }
        .addAccount {
            margin-top: 20px;
            .container {
                padding: 10px 10px 20px 20px;
                .fields {
                    padding-right: 10px;
                    input {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}