#accountWidget {
    background: @transparentBlue;
    border-radius: 28px;
    padding: 20px;
    text-align: center;
    .total {
        font-size: 20px;
    }
    ul {
        border-radius: 28px;
        padding: 20px;
        li {
            background : @lightBlue;
            border-radius: 10px;
            margin: 5px;
            list-style-type: none;
        }
    }

    .accountForm {
        background : @masterBlue;
        margin-top: 20px;
    }

    .formContainer {
        padding: 10px;
        
    }
    .displayFormBtn, .closeFormBtn {
        padding: 0;
    }

    .closeFormBtn {
        float: right;
        margin: 0px 15px 10px 10px;
        color: @masterBlue;
    }
}

.formContainer {
    padding: 10px;
}

#accountCreationForm{
    margin-top: 15px;
    .btn{
        margin-top: 15px;
    }

    label {
        margin: 5px 0 5px 0;
    }
    select {
        margin: 5px 0 0 0;
    }
}