.accountPage {

    // all versions
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    .accountPageBody {
        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: white;
            border-bottom: solid 1px whitesmoke;
            padding-top: 20px;
            z-index: 100;
            box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
        }
        #accountPageHeader {
            .editableNameAccount {
                a {
                    text-decoration: none;
                    h1 {
                        text-align: center;
                        font-size: xx-large;
                        margin-bottom: 20px;
                        .btn {
                            visibility: hidden;
                            color: @darkBlue;
                            font-size: small;
                            padding: 6px 0px 6px 12px;
                            margin-bottom: 4px;
                        }
                    }
                    h1:hover{
                        .btn {
                            visibility: visible;
                        }
                    }
                }
            }
            .editingNameAccount {
                padding-bottom: 12.35px;
                .name {
                    padding-left: auto;
                    padding-right: auto;
                    margin-bottom: 8.4px;
                }
            }
        }
        .scrollable {
            .RedirectImportOfx {
                padding-bottom: 5px;
                text-align: right;
                button {
                    background-color: @buttonBackColor;
                    border: 1px solid @buttonBackColor;
                    border-radius: 10px;
                    padding: 5px;
                }
            }
            .operationCreate {
                border-radius: 28px 28px 0 0;
            }
            #operationForm {
                padding: 30px 0 20px 0;
                display: flex;
                flex-wrap: wrap;
                .dateTitle, .categoryTitle, .memoTitle, .amountTitle, .dateElement, .categoryElement, .memoElement, .amountElement {
                    padding: 8px 0 0 0;
                }
                .btn{
                    font-size: large;
                }
            }
            .operationCreate {
                background: @headerColor;
                .dateTitle, .categoryTitle, .memoTitle, .amountTitle {
                    color: white;
                    font-size: large;
                    font-weight: bold;
                    text-align: middle;
                }
                .btn {
                    color: @background;
                }
            }
            .modifyOperation {
                background: lightgrey;
                .dateTitle, .categoryTitle, .memoTitle, .amountTitle {
                    color: darkslategray;
                    font-size: large;
                    font-weight: bold;
                    text-align: middle;
                }
                .btn {
                    color: @headerColor;
                }
            }
            .storedOperation {
                display: flex;
                flex-wrap: wrap;
                padding: 8px 0 8px 0;
                font-size: small;
                .category {
                    font-size: medium;
                    font-weight: bold;
                }
                .amount {
                    font-size: large;
                    text-align: center;
                }
                .positive {
                    border-radius: 25px;
                    background: @green;
                    padding: 2px 8px;
                }
                .negative {
                    padding: 2px 0;
                }
                .action {
                    display: flex;
                    .btn {
                        color: @headerColor;
                        font-size: small;
                        padding-left: 10px;
                    }
                }
            }
            @media (pointer: fine) {
                .storedOperation {
                    .btn {
                        visibility: hidden;
                    }
                }
                .storedOperation:hover{
                    .btn {
                        visibility: visible;
                    }
                }
            }
            .storedOperation:nth-child(even) {
                background-color: @background;
            }
            .storedOperation:nth-child(odd) {
                background-color: @darkerBackground;
            }
            a {
                font-size: small;
                color: black;
                text-decoration: none;
                .btn {
                    font-size: small;
                    padding-left: 10px;
                }
            }
            .placeholderBottom {
                height: 82px;
            }
        }
    }
    .btnInAccountPage {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        border-top: solid 1px whitesmoke;
    }

    // version for computer
    @media (min-width: 500px) {
        padding: 20px;
        .accountPageBody {
            .fixed {
                .editableNameAccount {
                    h1 {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
            .scrollable {
                padding-top: 10px;
                .operationCreate {
                    border-radius: 28px 28px 0 0;
                }
                .placeholderBottom {
                    height: 82px;
                }
            }
        }
    }

    // version for mobile
    @media (max-width: 500px) {
        .accountPageBody {
            padding: 0;
            .scrollable {
                .placeholderTop {
                    padding-top: 20px;
                }
                .placeholderBottom {
                    height: 92px;
                }
            }
        }
        @media (max-height: 400px) {
            .placeholderBottom, .btnInAccountPage {
                display: none;
            }
        }
    }
    
    @import url(../utils/switch.less);

}