.importPage {
        .goBackAccountPage {
            background-color: white;
            border: 1px solid white;
            font-size: large;
            position: relative;
            left: 140px;
        }
        .blanc {
            color: white;
        }
        .ofxForm {
            .inputOfx {
                opacity: 0;
                position: absolute;
                z-index: -1;
            }
            .closeFormOfx {
                background-color: @buttonBackColor;
                border: 1px solid black;
                font-size: small;
                border-radius: 15px;
                text-align: center;
            }
        }
        .btnOfx {
            background-color: @headerColor;
            border: 1px solid @headerColor;
            color: white;
            border-radius: 10px;
            width: 78px;
            margin: 0;
        }
        label {
            cursor: pointer;
            padding-bottom: 3px;
        }
    
}