.importPage {
    .text {
        color: white;
        margin-bottom: 10px;
    }
    .actionButton {
        margin-bottom: 4px;
    }
    .ofxForm {
        .inputOfx {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
        label {
            cursor: pointer;
            padding-bottom: 3px;
        }
    }
    
}