#subscriptionPage {
    overflow-y: hidden;
    p {
        margin: 8px 0;
    }
    .user, .company {
        background: @white;
        margin-top: 10px;
        border-radius: 28px;
        text-align: center;
        .essential, .integral, .solidarity, .businessSide, .personalSide, .coaching {
            margin: 0;
            padding: 10px 0;
            .icon {
                font-size: 34px;
                color: @navigation;
                margin: 5px;
            }
            .container {
                border-radius: 0;
                padding: 0;
                text-transform: capitalize;
                margin: 0;
                max-width: none;
            }
        }
        .navigationButton {
            color: @dark;
            background: @background;
            width: 40%;
        }
    }
    @media (max-width: 768px) {
        .user, .company {
            margin-top: 0;
            height: 100vh;
            border-radius: 0;
            padding-top: 150px;
            .topBanner {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background-color: white;
                box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
                padding: 30px 0 20px;
                font-size: 30px;
            }
        }
    }
}