.bankPage {
    .banklogo {
        max-width: 150px;
    }
    .historyCheckBox {
        margin-top: 15px ;
        input{
            margin-left: 15px;
        }
    }
    .bankSelector {
        margin-top: 15px ;
    }
    // version for md screen
    @media (min-width: 768px) {
        .associationForm{
            div {
                margin: 15px auto;
            }
        }
    }
}