#budgetCmpt {

    // pour toutes les versions

    background: white;
    overflow-x: hidden; // remove the horizontal elevator

    #budgetHeader {
        border-radius: 0;
    }
    
    .placeholderTop{
        padding: 20px;
    }

    .content {
        padding: 10px 20px;
    }

    .budgetTable {
        margin-top: 10px;
    }

    // version for computer
    @media (min-width: 1200px) {
        .fixed {
            width: 41%;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .fixed {
            width: 49%;
        }
    }

    @media (min-width: 992px) {
        padding-top: 8px;
        margin-right: 0;
        .fixed {
            justify-content: center;
            #budgetHeader {
                border-radius: 20px 20px 0 0;
            }
        }
        .content {
            #budgetTables {
                padding-top: 20px;
                margin-top: -28px;
                table .budgetTable {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 70vh;
                }
            }
        }
    }

    // version for mobile
    @media (min-width: 768px) and (max-width: 992px) {
        .fixed {
            width: 65%;
        }
    }
    @media (min-width: 576px) and (max-width: 768px) {
        .fixed {
            width: 83%;
            #budgetHeader {
                padding-right: 15px;
            }
        }
    }
    @media (max-width: 576px) {
        .fixed {
            width: 100%;
            #budgetHeader {
                padding-right: 20px;
            }
        }
    }

    @media (max-width: 992px) {
        .scrollable {
            #budgetTables {
                .placeholderBottom {
                    height: 93px;
                }
            }
        }
    }

    // tiny version (one column less)
    @media (max-width: 500px) {
        .spent{
            display: none;
        }
    }
    
    @media (max-height: 400px) {
        .placeholderBottom {
            display: none;
        }
    }
}