.chartPage {
    text-align: center;
    .multiselect {
        height: 40px;
        padding: 0;
    }
    .dateNav {
        height: 53.5px;
        .date-label {
            background: @action;
            * {
                color: @lighterBackground;
            }
        }
    }
}