.chartPage {
    text-align: center;
    .trialTab {
        height: 52px;
        text-align: center;
    }
    .dualTab {
        text-align: center;
        height: 42px;
        * {
            margin-bottom: 0;
        }
    }
    .multiselect {
        height: 40px;
        width: 250px;
        padding: 0;
    }
    .draw {
        @media (max-width: 600px) {
            margin:  auto;
            max-width: 400px;
        }
        @media (max-width: 992px) {
        }
    }
    .dateNav {
        height: 53.5px;
        margin: 0 auto;
        padding: 6px;
        max-width: 400px;
        .date-label {
            background: @action;
            * {
                color: @lighterBackground;
            }
        }
    }

    // mobile version
    @media (max-width: 992px) {
        .computerVersion {
            display: none;
        }
    }

    // computer version
    @media (min-width: 992px) {
        .mobileVersion {
            display: none;
        }
        .draw {
            margin-top: auto;
            margin-bottom: auto;
        }
        .dualTab, .trialTab, .multiselect, .dateNav {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}