.chartPage {
    * {
        text-align: center;
    }
    .dateNav {
        height: 53.5px;
        .date-label {
            background: @action;
            * {
                color: @lighterBackground;
            }
        }
    }
}