// Default text, can be overriden by a specific theme 
*, text {
  font-family: 'Arial', Verdana, sans-serif;
  color: @dark;
  font-size: 16px;
}

.subtext {
  font-family: 'Arial', Verdana, sans-serif;
  color: @dark;
  font-size: 16px;
  font-style: italic;
}

.textInput {
  font-family: 'Arial', Verdana, sans-serif;
  color: @dark;
  font-size: 16px;
  text-transform: none;
}

.title, .title *{
  font-size: 25px;
  text-align: center;
  .btn {
    font-size: 20px;
  }
  &:first-letter {
    text-transform: capitalize;
  }
}

.subtitle, .subtitle * {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  &:first-letter {
    text-transform: capitalize;
  }
}

p {
  text-align: left
}

.bold {
  font-weight: bold
}
@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

/////////////////////////////////////

// Specific theme text

.dyslexia {
  * {
    color: red;
  }
}