.operationForm {
  .sumAmountElement {
    text-align: left;
    padding-bottom: 10px;
  }
  display: grid;
  grid-template-areas: 
    "close close"
    "date status"
    "category amount"
    "memo memo"
    "addDaughter addDaughter"
    "actions actions"
  ;
  grid-template-columns: 1fr 1fr;

  &.withDaugtherDisplay {
    grid-template-areas: 
    "close close"
    "date status"
    "amount empty"
    "memo memo"
    "daughters daughters"
    "addDaughter addDaughter"
    "daughterChecker daughterChecker"
    "actions actions"
  ;
  }

  .containerCross {
    padding-bottom: 8px;
    grid-area: close;
  }
  .date {
    grid-area: date;
  }
  .status {
    grid-area: status;
    display: grid;
    grid-template-columns: 1fr 2fr;
    div {
      display: grid;
      grid-template-areas: "switch pending";
      grid-template-columns: 60px auto;
      .customSwitch {
        grid-area: switch;
      }
    }
  }
  .category {
    grid-area: category;
  }
  .amount {
    grid-area: amount;
  }
  .sumAmountElement {
    text-align: left;
  }
  .memo {
    grid-area: memo;
    display: grid;
  }
  .daughters {
    grid-area: daughters;
    .daughter {
      border-style: solid;
      border-width: 1px;
      margin: 20px 0;
      padding: 10px;
      border-radius: 10px;
      display: grid;
      grid-template-areas:
        "close close" 
        "category amount"
        "memo memo"
      ;
      .containerCross {
        grid-area: close;
      }

    }
  }
  .addDaughter {
    margin-top: 20px;
    grid-area: addDaughter;
    justify-self: center;
  }

  .daughterChecker {
    grid-area: daughterChecker ;
    justify-self: center;
    p {text-align: center;}
  }

  .formAction {
    grid-area: actions;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .formItem {
    grid-template-columns: 100px 1fr;
  }
}

@media (max-width: 800px) {
  .operationForm {
    grid-template-columns: 1fr;

    grid-template-areas:
      "close"
      "date"
      "status"
      "category"
      "amount"
      "memo"
      "addDaughter"
      "actions"
    ;

    &.withDaugtherDisplay {
      grid-template-areas: 
      "close"
      "date"
      "status"
      "amount"
      "memo"
      "daughters"
      "addDaughter"
      "daughterChecker"
      "actions"
    ;
    }

    .daughters .daughter {
      grid-template-areas:
        "close" 
        "category"
        "amount"
        "memo"
      ;
    }
  }
}

@media (max-width: 500px) {
  .operationForm {
    .formItem {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "label"
      "input"
      ;
    }
  }
}
