@import "profile.less";
@import "login_neutral.less";
@import "default.less";
@import "red.less";
@import "blue.less";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/@vueform/multiselect/themes/default.css";

@greenblue: #2198A6;
@majorBlue: #124D74;

@darkBlue: #2F5662;
@masterBlue: #88a6b9;
@lightBlue: #d2eaed;
@lightBlue2: #82c4cd;
@transparentBlue: rgba(144, 217,233, 0.4);

@green: #c5e6a6;
@red: #E77471;
@orange: orange;


@majorLightBlue: #8bd1d9;
@background: #f2f2f2;
@darkerBackground: #e8e8e8;

.allocationInput{
    width: 80px
}

.multiselect-search {
    margin-top: 5px;
}
