.blue {

    background-color: #f4f8fc;
    // thank you : https://www.transparenttextures.com/
    background-image : url("../assets/skin/blue/background.png");

    @darkBlue: #2F5662;
    @masterBlue: #4FB3CC;
    @lightBlue: #C6F4FF;
    @transparentBlue: rgba(144, 217,233, 0.4);

    .home {

        padding: 50px;
        
        ul#actionsList {
            li {
                text-align: center;
                button {
                    background : rgba(101, 159, 212, 0.4);
                    border-radius: 20px;
                    margin: 5px;
                    text-align: center;
                }
                list-style-type: none;
            }
        }

        @import url(blue/accountWidget.less);
        @import url(blue/budget.less);
    }
}
