#app {
  background-color: @background;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
  }
}
.default {
  
  @import url(default/accountWidget.less);
  @import url(default/accountPage.less);
  @import url(default/subscriptionPage.less);
}