.profilePage {
    text-align: center;
    .boxMenu{
        background: white;
        border-radius: 28px;
        padding: 20px;
        margin-top: 10px;

        #logoface {
            max-width: 100px;
            margin: 10px 0;
        }

        .buttonContainer {
            margin-top: 20px;
            .navigationButton {
                margin-bottom: 15px;
                padding: 5px 12px;
                .illustration {
                    margin: 0;
                    padding-top: 3px;
                }
                .name {
                    text-align: left;
                }
            }
            a { // essential to have a tag 'a' for support to keep link for forum
                text-transform: capitalize;
                text-decoration: none;
            }
        }
    }
}
.navMenu {
    @media (min-width:1400px) {
        padding-left: 150px;
    }
}

// version for computer 
@media (min-width: 768px) {
    .profilePage {
        .boxMenu {
            .title {
                display: none;
            }
        }
    }
}

// version for mobile
@media (max-width: 768px) {
    .profilePage {
        .boxMenu{
            border-radius: 0;
            margin-top: 0;
            height: 100vh;
            #logoface {
                display: none;
            }
            .title {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background-color: white;
                box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
                text-transform: capitalize;
                padding: 30px 0;
                font-size: 30px;
            }
            .buttonContainer {
                margin-top: 150px;
            }
        }
    }
    .navMenu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0px -2px 25px rgba(0, 0, 0, 0.2);
    }
}
