#login_page, #sign_up_page, #profile_page {
    text-align: center;
    background-color: #f2f2f2;
    color: #124d74;

 
    
#logoface {
    max-width: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: center
}

.ProfilName{
    background-color: #007EA7;
    color: #f9fdff;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.btnprofil{
    background-color: #007EA7;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border: 3px solid #007EA7;
    margin-right: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    text-transform: capitalize;
    
}


.btnprofil:hover,
 :focus{ 
    background-color:  #007da711;
    border: 3px solid #003249;
    color: #003249;
    cursor: pointer;
}

.navprofile{
    margin-top: 150px;
}

#icone{
    margin-left: 150px;
    padding: 1000px;
}


}

@media screen and (min-width: 800px){
    #login_page, #sign_up_page, #profile_page {
        text-align: center;
        background-color: #f2f2f2;
        color: #124d74;
    
    .btnprofil {
        display: block ;
        height: 100%;
        width: 90% ;
        font-size: 20px ;
        color: #ffffff ;
        margin-top: 25px;
        box-sizing: border-box;
        background-color: #003249 ;
        border: 3px solid #007EA7 ;
        border-radius: 3px ;
        cursor: pointer;
        transition: background-color 0.5s ease-out;
        text-transform: capitalize;
        
    }

    .btnprofil:hover,
 :focus{ 
    background-color:  #007da711;
    border: 3px solid #003249;
    color: #003249;
    cursor: pointer;
}

    .card-container{
        width: 350px;
        height: 100%;
        background-color: #007EA7;
    }

    .navprofile{
        margin-top: 150px;
    }
    

    .ProfilName{
        background-color: #003249;
        color: #f9fdff;
        margin-top: 10px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    
}
}