.profilePage {
    text-align: center;
    overflow-y: hidden;
    btn, a {
        margin: 10px auto;
        max-width: 400px;
    }
    #logoface {
        max-width: 100px;
        margin: 10px 0;
    }
}
.navMenu {
    @media (min-width:1400px) {
        padding-left: 150px;
    }
}

// version for computer 
@media (min-width: 768px) {
    .profilePage {
        .boxMenu {
            .title {
                display: none;
            }
        }
    }
}

// version for mobile
@media (max-width: 768px) {
    .profilePage {
        .boxMenu{
            border-radius: 0;
            margin-top: 0;
            height: 100vh;
            #logoface {
                display: none;
            }
            .title {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background-color: white;
                box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2);
                text-transform: capitalize;
                padding: 30px 0;
                font-size: 30px;
            }
            .buttonContainer {
                margin-top: 150px;
            }
        }
    }
    .navMenu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0px -2px 25px rgba(0, 0, 0, 0.2);
    }
}
