.form {
  input, select, .selectAutoComplete {
    margin-bottom: 10px;
  }
  .label {
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
  }

  .formAction {
    margin-top: 20px;
  }

  .formItem {
    padding: 5px 10px;
  }

  .formSectionTitle {
    text-align: center;
  }

  .multiselect-dropdown {
    max-height: none;
    ul.multiselect-options {
      max-height: 500px;
    }
  }
  
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  .actionButton{
      width: 100%;
  }
}