.form {
  input, select, .selectAutoComplete {
    margin-bottom: 10px;
  }
  .label {
    font-size: large;
    font-weight: bold;
  }
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  .actionButton{
      width: 100%;
      margin-top: 25px;
  }
}