.dateNav {
    margin-bottom: 20px;
    text-align: center;
    .date-label {
        background: @action;
        border-radius: 25px;
        font-weight: bold;
        padding: 8px  15px 8px 15px;
        p {
            margin-bottom: 0;
        }
        .month {
            text-transform: capitalize;
        }
        * {
            color: @lighterBackground;
        }
        &.negative {
            background: @alert;
        }
        &.positive {
            background: @warning;
        }
        &.null {
            background: @validation;
            * {
                color: @dark
            }
        }
    }   
}

.navBar {
    ul {
        text-align: center;
        justify-content: center;
        list-style-type: none;
        .btn {
            margin: 20px 10px;
        }
    }
}