.allOperation {
  &.operation {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 8px 15px;
    text-align: left;
    cursor: pointer;
  }
    .category {
      font-weight: bold;
    }
    .amount {
      font-size: large;
      text-align: center;
    }
    .action, .pending {
      display: flex;
      .btn {
          padding-left: 10px;
      }
    }
    .daughter {
      .category, .amount {
        border-top: solid @blackGrey 1px;
      }
    }

  &:nth-child(even) {
    background-color: @background;
  }
  
  &:nth-child(odd) {
    background-color: @darkerBackground;
  }

  @media (pointer: fine) { 
    .action {
        visibility: hidden;
    }
    &:hover{
      .action {
          visibility: visible;
      }
    }
  }

}