.operationList {
  margin-bottom: 20px;
  .operationListItem {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 15px;
    text-align: left;
    &:nth-child(even) {
      background-color: @background;
    }
    &:nth-child(odd) {
      background-color: @darkerBackground;
    }
    cursor: pointer;
    .category {
      font-weight: bold;
    }
    .amount {
      font-size: large;
      text-align: center;
    }
    .action, .pending {
      display: flex;
      .btn {
          padding-left: 10px;
      }
    }
    
    .daughterCategory, .daughterMemo {
        padding-left: 25px;
    }
    
    @media (pointer: fine) { 
      .action {
          visibility: hidden;
      }
      &:hover{
        .action {
            visibility: visible;
        }
      }
    }
  }
}