.bankPage {
    .pageContent > div {
        display: grid;
    }

    #addBankBtn {
        margin-top: 25px;
        justify-self: center;
    }
    #bankForm {
        max-width: 800px;
        .actionButton {
            margin-top: 50px;
        }
        .multiselect {
            * { 
                color: black;
            }
        }
    }
    
}